// These colors are specific to the theme. Do not use in a package!

@very-light-gray: hsl(56,10%,70%);
@light-gray:      hsl(39,3%,49%);
@gray:            hsl(222,9%,28%);
@dark-gray:       hsl(222,2%,19.5%);
@very-dark-gray:  hsl(222,2%,17.5%);

@teal:            hsl(168,24%,53%);
@red-orange:      hsl(17,69%,60%);
@lemon-tart:      hsl(36,48%,58%);
@magenta:         hsl(344,45%,50%);
@orange:          hsl(25,58%,55%);
@tomato:          hsl(7,55%,54%);
@evergreen:       hsl(153,68%,38%);

@auxiliary:       hsl(153,50%,18.5%);
